<html>
  <head>
    <title>Golinks</title>
  </head>
  <body>
    <form action="{{ .redirectUrl }}" method="POST">
      Golink: <input type="text" name="short"><br>
      Redirect URL: <input type="text" name="url"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
